<button class="source-btn" mat-button (click)="openSource()" *ngIf="media.source"><mat-icon>open_in_new</mat-icon>&nbsp;&nbsp;Source</button>

<mat-chip-list>
	<mat-chip color="primary" [selected]="true">{{media.location}}</mat-chip>
</mat-chip-list>

<h2>{{media.title}}</h2>
<p class="timestamp"><b>Added At:</b> {{media.createdAt | date:'short'}}</p>

<mat-divider></mat-divider>

<isvr-album-manager [media]="media"></isvr-album-manager>

<mat-divider></mat-divider>

<isvr-tag-manager [media]="media"></isvr-tag-manager>

<button mat-icon-button color="warn" matTooltip="Trash" isvrConfirmButton message="Trash '{{media.title}}'?'" (confirmed)="trashMedia()"><mat-icon>delete_outline</mat-icon></button>
