@import 'includes';

:host {
	display: block;
	@include size(300px, 100%);
	padding: 20px;
	background-color: lightgray;

	@include MQ(M) {
		width: 200px;
	}
}

.source-btn {
	float: right;
}

h2 {
	margin: 0;
	padding: 5px 0;
	word-break: break-word;
}

p {
	margin: 0;
	padding: 0;
}

.timestamp {
	@include text-format(12px);
	padding-bottom: 16px;
}

isvr-album-manager {
	display: block;
	padding-bottom: 16px;
}
