<isvr-media-filters></isvr-media-filters>
<isvr-media-view-options></isvr-media-view-options>

<virtual-scroller #scroll [items]="media" *ngIf="media">
	<div class="media-sizer" *ngFor="let singleMedia of scroll.viewPortItems" [style]="calcMediaSize()">
		<isvr-media-preview [media]="singleMedia" (mediaRemoved)="mediaRemoved($event)"></isvr-media-preview>
	</div>
</virtual-scroller>

<h2 *ngIf="warning">{{warning}}</h2>

<button mat-fab isvrNewMediaButton class="add-btn" matTooltip="Add New Media" matTooltipPosition="left" (mediaSaved)="newMediaAdded($event)">
	<mat-icon>add</mat-icon>
</button>
