@import 'includes';

.add-btn {
	display: inline-block;
	@include position(fixed, null 20px 20px null);
	z-index: 2;
}

h2 {
	padding: 10px;
	margin: 0;
}

virtual-scroller {
	height: calc(100% - 76px);
}

.media-thumb-sizer {
	display: inline-block;
	margin: 0 1% 25px;
}

table {
	width: 100%;
	height: 100%;
	padding: 0 2%;

	tr {
		cursor: pointer;
		background-color: #fff;
		transition: background-color 150ms ease-out;

		&:hover {
			background-color: #e3e3e3;
		}
	}

	.preview-column {
		width: 9%;
		padding-right: 2%;
	}

	.actions-column {
		width: 10%;
	}
}
