@import 'includes';

.unlock-container,
.new-db-container {
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
	width: 600px;
}

.new-db-container {
	mat-form-field {
		display: block;
	}

	button {
		float: right;
	}
}

.mat-form-field-appearance-legacy .mat-hint {
	color: red;
}
