@import 'includes';

mat-sidenav-content {
	background-color: black;
	padding-right: 20px; //space for drawer
}

isvr-media-detail-navigation {
	display: block;
	position: relative;
	z-index: 2;
}

isvr-alert {
	width: 100%;

	a {
		cursor: pointer;
	}
}


isvr-media-renderer {
	@include size(100%, calc(100% - 40px));
	margin: 0 auto;
	text-align: center;
}

.drawer-toggle-btn {
	width: 26px;
	height: calc(100% - 64px);
	@include position(fixed, 64px 0 null null);
	z-index: 20;
	color: #5E5F60;
	background-color: #F3F4F5;
	border: 1px solid #c4c5c6;
	cursor: pointer;
	transition: background-color 150ms ease-out;

	.chevron {
		@include position(absolute, 50% 0 null null);
		transform-origin: 50% 50%;
		transform: rotate(0);
	}

	&.open {
		.chevron {
			transform: rotate(-180deg);
		}
	}

	&:hover {
		background-color: darken(#F3F4F5, 3%);
	}
}
