@import 'includes';

mat-sidenav-content {
	background-color: black;
	padding-right: 20px; //space for drawer
}

isvr-media-detail-navigation {
	display: block;
	position: relative;
	z-index: 2;
}

isvr-alert {
	width: 100%;

	a {
		cursor: pointer;
	}
}


isvr-media-renderer {
	@include size(100%, calc(100% - 40px));
	margin: 0 auto;
	text-align: center;
}