<mat-sidenav-container>
	<mat-sidenav-content>
		<div class="media-frame" *ngIf="media">
			<isvr-alert *ngIf="media.trashed">This item is currently in the trash. <a (click)="restoreMedia()">Click here to restore</a></isvr-alert>

			<div *ngIf="media.type === mediaType.IMAGE || media.type === mediaType.GIF" class="image" [ngStyle]="{'background-image': 'url(' + media.url + ')'}"></div>
			<video *ngIf="media.type === mediaType.VIDEO" class="video" [src]="media.url" autoplay loop controls></video>
		</div>

		<mat-progress-bar mode="indeterminate"  *ngIf="!media"></mat-progress-bar>

		<div class="drawer-toggle-btn" (click)="toggleDrawer()" [ngClass]="{open:drawerIsOpen}" [@drawerOpen]="drawerIsOpen">
			<mat-icon class="chevron">keyboard_arrow_left</mat-icon>
		</div>
	</mat-sidenav-content>

	<mat-sidenav #sidenav mode="side" position="end" [opened]="drawerIsOpen">
    	<isvr-media-detail-drawer [media]="media" *ngIf="media"></isvr-media-detail-drawer>
  </mat-sidenav>
</mat-sidenav-container>
