<form (ngSubmit)="saveAlbum()" #editAlbumForm="ngForm" *ngIf="album">
	<mat-form-field>
		<input type="text" matInput [(ngModel)]="album.title" name="title" placeholder="Title" required />
	</mat-form-field>

	<button type="button" mat-raised-button isvrMediaSelector [settings]="mediaSelectorSettings" (mediaSelected)="newCoverSelected($event)">Change Album Cover</button>
	<isvr-media-preview *ngIf="album.cover.id" [media]="album.cover" [editable]="false" [navigable]="false"></isvr-media-preview>

	<div class="actions">
		<button type="button" mat-raised-button color="warn" class="delete-btn" isvrConfirmButton message="Permanently delete the '{{album.title}}' album? This will not delete the Media within it." (onConfirmed)="deleteAlbum()">Delete</button>
		<button type="submit" mat-raised-button color="primary" [disabled]="!editAlbumForm.form.valid">Save</button>
		<button type="button" mat-raised-button (click)="dialogRef.close(null)">Cancel</button>
	</div>
</form>
