<div class="view-options-container">
	<div class="display-toggle">
		<mat-button-toggle-group [(ngModel)]="viewOptions.displayType" (change)="viewOptionsChanged()">
			<mat-button-toggle [value]="mediaDisplayType.GRID" matTooltip="Grid"><mat-icon>grid_view</mat-icon></mat-button-toggle>
			<mat-button-toggle [value]="mediaDisplayType.TABLE" matTooltip="Table"><mat-icon>table_rows</mat-icon></mat-button-toggle>
		</mat-button-toggle-group>
	</div>

	<div class="thumb-size-slider" *ngIf="viewOptions.displayType === mediaDisplayType.GRID">
		<mat-label>Thumbnail Size</mat-label>
		<mat-slider min="0.15" max="0.5" step="0.05" [(ngModel)]="viewOptions.thumbSize" (input)="thumbSizeChanged($event)"></mat-slider>
	</div>
</div>
