@import 'includes';

h2 {
	padding: 10px;
	margin: 0;
}

.clear-btn {
	display: inline-block;
	@include position(fixed, null 20px 20px null);
}

mat-list-item {
	cursor: pointer;

	.actions {
		display: flex;
		flex-direction: row;
	}

	&:hover {
		background-color: lightblue;
	}
}

.mat-list-base .mat-list-item .mat-list-avatar {
	@include size(60px, 60px);
}
