<div *ngIf="tags">
	<h4 *ngIf="label">{{label}}</h4>

	<div class="chip-container" *ngIf="tags.length > 0">
		<mat-chip-list>
			<mat-chip *ngFor="let tag of tags" [removable]="!disabled" (removed)="removeTag(tag)">
				{{tag.title}}
				<mat-icon matChipRemove *ngIf="!disabled">cancel</mat-icon>
			</mat-chip>
		</mat-chip-list>
	</div>

	<button mat-button *ngIf="displayType === 'button' && !newTag" (click)="showNewTag()" [disabled]="disabled">+ Add Tag</button>
	<isvr-tag-autocomplete *ngIf="displayType === 'input' || newTag" [newTagAllowed]="newTagAllowed" [placeholder]="placeholder" (tagChosen)="addNewTag($event)"></isvr-tag-autocomplete>
</div>
