<mat-list *ngIf="tags && tags.length > 0">
	<h3 mat-subheader>Tags</h3>

	<mat-list-item>
		<mat-chip-list>
			<mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="removeTag(tag)">
				{{tag.title}}
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip>
		</mat-chip-list>
	</mat-list-item>

	<p *ngIf="tags.length === 0">No Assigned Tags</p>

	<button mat-button *ngIf="!newTag" (click)="showNewTag()">+ Add Tags</button>
	<mat-form-field *ngIf="newTag">
		<input type="text" matInput placeholder="Type Tag Name Here" [formControl]="newTagControl" [matAutocomplete]="tagsAutocomplete">
	</mat-form-field>

	<mat-autocomplete #tagsAutocomplete="matAutocomplete" [displayWith]="autocompleteDisplay" (optionSelected)="addNewTag($event)">
		<mat-option *ngFor="let tag of filteredAllTags | async" [value]="tag">{{tag.title}}</mat-option>
	</mat-autocomplete>
</mat-list>
