<form (ngSubmit)="saveNewMedia()" #editMediaForm="ngForm">
	<mat-form-field>
		<input matInput [(ngModel)]="newMedia.source" name="source" placeholder="Source" required />
		<input hidden type="file" #uploader (change)="getLocalFileSource($event)"/>
		<button type="button" mat-icon-button matSuffix matTooltip="Choose local file" (click)="uploader.click()"><mat-icon>desktop_windows</mat-icon></button>
	</mat-form-field>

	<mat-form-field>
		<input type="text" matInput [(ngModel)]="newMedia.title" name="title" placeholder="Title" />
	</mat-form-field>

	<button type="submit" mat-raised-button color="primary" [disabled]="!editMediaForm.form.valid">Save</button>
	<button type="button" mat-raised-button (click)="dialogRef.close(null)">Cancel</button>
</form>
