<form (ngSubmit)="saveNewMedia()" #editMediaForm="ngForm">
	<mat-form-field>
		<input matInput [(ngModel)]="newMediaUrl" name="source" placeholder="Source" required [disabled]="interfaceDisabled" />
		<input hidden type="file" #uploader (change)="getLocalFileSource($event)" multiple />
		<button type="button" mat-icon-button matSuffix matTooltip="Choose local file" (click)="uploader.click()" [disabled]="interfaceDisabled"><mat-icon>desktop_windows</mat-icon></button>
	</mat-form-field>

	<mat-form-field>
		<input type="text" matInput [(ngModel)]="newMediaTitle" name="title" placeholder="Title" [disabled]="interfaceDisabled" />
	</mat-form-field>

	<isvr-tag-manager (tagsChanged)="tagsChanged($event)" [disabled]="interfaceDisabled"></isvr-tag-manager>

	<mat-progress-bar mode="indeterminate" *ngIf="interfaceDisabled"></mat-progress-bar>

	<button type="submit" mat-raised-button color="primary" [disabled]="!editMediaForm.form.valid || interfaceDisabled">Save</button>
	<button type="button" mat-raised-button (click)="dialogRef.close(null)" [disabled]="interfaceDisabled">Cancel</button>
</form>
