@import 'includes';


mat-list-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;

	.filler mat-icon {
		@include mat-icon-size(40px);
	}

	.actions {
		background-color: lightgray;
		@include position (absolute, null -30px null null);
		transition: right 150ms ease-out;
	}

	&:hover {
		.actions {
			right: 10px;
		}
	}
}
