<mat-grid-list [cols]="numCols" gutterSize="0.5%">
	<mat-grid-tile *ngFor="let singleMedia of media">
		<isvr-preview-large [media]="singleMedia" (mediaTrashed)="mediaRemoved($event)"></isvr-preview-large>
	</mat-grid-tile>
</mat-grid-list>

<h2 *ngIf="media && media.length === 0">Use the button below to add Media</h2>

<button mat-fab isvrNewMediaButton class="add-btn" matTooltip="Add New Media" matTooltipPosition="left" (mediaSaved)="newMediaAdded($event)">
	<mat-icon>add</mat-icon>
</button>
