<div class="container" (click)="navigateToDetails()">
	<div class="media-frame">
		<div *ngIf="album.cover?.type === mediaType.IMAGE || album.cover?.type === mediaType.GIF" class="image" [ngStyle]="{'background-image': 'url(' + album.cover?.url + ')'}"></div>
		<video *ngIf="album.cover?.type === mediaType.VIDEO" class="video" [src]="album.cover?.url" autoplay loop></video>

		<div class="filler" *ngIf="!album.cover"><mat-icon>account_box</mat-icon></div>
	</div>

	<div class="title">{{album.title}}</div>
</div>
