@import 'includes';

:host {
	@include size(100%, 100%);
	display: block;
}

.container,
isvr-media-renderer {
	@include size(100%, 100%);
}

.container {
	position: relative;
	padding: 5px;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 150ms ease-out;

	isvr-media-renderer {
		position: relative;
	}

	&:hover {
		background-color: lightblue;
	}
}

.title {
	@include position(absolute, null null 5px 5px);
	width: calc(100% - 10px);
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	z-index: 2;
}
