@import 'includes';

:host {
	display: block;
	padding: 10px 10px 0;
}

.filters {
	display: flex;
	flex-direction: column;

	isvr-tag-manager {
		width: 100%;
	}

	.sort-toggle {
		text-align: center;
	}
}

.media-count {
	text-align: center;
}
