<div class="container" (click)="navigateToDetails()">
	<div class="media-frame">
		<div *ngIf="media.type === mediaType.IMAGE || media.type === mediaType.GIF" class="image" [ngStyle]="{'background-image': 'url(' + media.url + ')'}"></div>
		<video *ngIf="media.type === mediaType.VIDEO" class="video" [src]="media.url" autoplay loop></video>
	</div>

	<div class="drawer">
		<div class="title">{{media.title}}</div>
		<div class="actions">
			<button class="white" mat-icon-button [matMenuTriggerFor]="actions" (click)="preventDefault($event)"><mat-icon>more_horiz</mat-icon></button>
			<mat-menu #actions="matMenu" yPosition="above">
				<button mat-menu-item (click)="trashMedia()">Trash</button>
			</mat-menu>
		</div>
	</div>
</div>
