<mat-card (click)="navigateToDetails()">
	<mat-card-header>
		<mat-card-title>{{media.title}}</mat-card-title>
	</mat-card-header>
	<img *ngIf="media.type === mediaType.IMAGE || media.type === mediaType.GIF" mat-card-image [src]="media.url" [alt]="media.title">
	<video *ngIf="media.type === mediaType.VIDEO" mat-card-image [src]="media.url" autoplay loop></video>
	<mat-card-actions>
		<button mat-icon-button [matMenuTriggerFor]="actions" (click)="preventDefault($event)"><mat-icon>more_horiz</mat-icon></button>
		<mat-menu #actions="matMenu" yPosition="above">
			<button mat-menu-item (click)="trashMedia()">Trash</button>
		</mat-menu>
	</mat-card-actions>
</mat-card>
