@import 'includes';

:host {
	display: block;
	padding: 20px;
}

.general-settings,
.keyBindings,
.password-container {
	padding-top: 20px;
}

.general-settings,
.password-container {
	mat-form-field {
		width: 300px;
		display: block;
	}
}

.keyBindings {
	display: flex;
	flex-direction: column;
}

.keyBinding {
	width: 700px;
	display: flex;
	flex-direction: row;

	label,
	mat-form-field {
		flex: 1;
		margin: 0 10px;
		align-self: center;
	}

	mat-form-field {
		flex: 0.5;
	}
}

mat-label {
	margin-right: 20px;
}

.actions {
	margin-top: 30px;
	button {
		margin-right: 10px;
	}
}
