<mat-tab-group>
	<mat-tab label="General">
		<form (ngSubmit)="saveSettings()" #generalSettingsForm="ngForm">
			<div class="general-settings">
				<mat-form-field>
					<input type="text" matInput [(ngModel)]="settings.slideshow_speed_ms" name="slideshowSpeed" placeholder="Slideshow Speed (ms)" />
				</mat-form-field>

				<mat-form-field>
					<mat-select [(ngModel)]="settings.starting_media_drawer_position" name="mediaDrawerPos" placeholder="Starting Media Drawer Position">
						<mat-option value="open">Open</mat-option>
						<mat-option value="closed">Closed</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-select [(ngModel)]="settings.landing_page" name="landingPage" placeholder="Landing Page">
						<mat-option value="media">Media</mat-option>
						<mat-option value="albums">Albums</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-select [(ngModel)]="settings.default_media_sort" name="defaultMediaSort" placeholder="Default Media Sort">
						<mat-option *ngFor="let option of mediaSortBy" [value]="option">{{option}}</mat-option>
					</mat-select>
				</mat-form-field>

				<div class="display-toggle">
					<mat-label>Default Media Display</mat-label>
					<mat-button-toggle-group [(ngModel)]="settings.media_display_type">
						<mat-button-toggle [value]="mediaDisplayType.GRID" matTooltip="Grid"><mat-icon>grid_view</mat-icon></mat-button-toggle>
						<mat-button-toggle [value]="mediaDisplayType.TABLE" matTooltip="Table"><mat-icon>table_rows</mat-icon></mat-button-toggle>
					</mat-button-toggle-group>
				</div>

				<div class="slider">
					<mat-label>Default Thumbnail Size</mat-label>
					<mat-slider min="0.15" max="0.5" step="0.05" [(ngModel)]="settings.thumb_size" (input)="thumbSizeChanged($event)"></mat-slider>
				</div>
			</div>

			<div class="actions">
				<button type="button" mat-raised-button (click)="resetSettings()">Reset</button>
				<button type="submit" mat-raised-button color="primary">Save</button>
			</div>
		</form>
	</mat-tab>

	<mat-tab label="Key Bindings">
		<form (ngSubmit)="saveSettings()" #keysSettingsForm="ngForm">
			<div class="keyBindings">
				<div class="keyBinding">
					<label>Navigate Next Media</label>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.navigate_right_1" name="navRight1" placeholder="Navigate Next Media 1" (keyup)="translateKeyBinding('navigate_right_1', $event)" />
					</mat-form-field>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.navigate_right_2" name="navRight2" placeholder="Navigate Next Media 2" (keyup)="translateKeyBinding('navigate_right_2', $event)" />
					</mat-form-field>
				</div>

				<div class="keyBinding">
					<label>Navigate Previous Media</label>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.navigate_left_1" name="navLeft1" placeholder="Navigate Previous Media 1" (keyup)="translateKeyBinding('navigate_left_1', $event)" />
					</mat-form-field>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.navigate_left_2" name="navLeft2" placeholder="Navigate Previous Media 2" (keyup)="translateKeyBinding('navigate_left_2', $event)" />
					</mat-form-field>
				</div>

				<div class="keyBinding">
					<label>Slideshow Toggle</label>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.start_stop_slideshow_1" name="slideshowToggle1" placeholder="Slideshow Toggle 1" (keyup)="translateKeyBinding('start_stop_slideshow_1', $event)" />
					</mat-form-field>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.start_stop_slideshow_2" name="slideshowToggle2" placeholder="Slideshow Toggle 2" (keyup)="translateKeyBinding('start_stop_slideshow_2', $event)" />
					</mat-form-field>
				</div>

				<div class="keyBinding">
					<label>Media Drawer Toggle</label>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.open_media_drawer_1" name="mediaDrawerToggle1" placeholder="Media Drawer Toggle 1" (keyup)="translateKeyBinding('open_media_drawer_1', $event)" />
					</mat-form-field>

					<mat-form-field>
						<input type="text" matInput [(ngModel)]="settings.open_media_drawer_2" name="mediaDrawerToggle2" placeholder="Media Drawer Toggle 2" (keyup)="translateKeyBinding('open_media_drawer_2', $event)" />
					</mat-form-field>
				</div>
			</div>

			<div class="actions">
				<button type="button" mat-raised-button (click)="resetSettings()">Reset</button>
				<button type="submit" mat-raised-button color="primary">Save</button>
			</div>
		</form>
	</mat-tab>

	<mat-tab label="Change Password">
		<form [formGroup]="newPassForm" (ngSubmit)="changePassword()">
			<div class="password-container">
				<mat-form-field>
					<input type="password" matInput formControlName="oldPass" name="oldPass" placeholder="Current Password" />
				</mat-form-field>

				<mat-form-field>
					<input type="password" matInput formControlName="password" name="password" placeholder="New Password" />
				</mat-form-field>

				<mat-form-field>
					<input type="password" matInput formControlName="confirmPass" name="confirmPass" placeholder="Confirm New Password" [errorStateMatcher]="formErrorMatcher" />
					<mat-error *ngIf="newPassForm.hasError('notSame')">New Password does not match Confirm</mat-error>
				</mat-form-field>
			</div>

			<div class="actions">
				<button type="button" mat-raised-button (click)="resetPasswords()">Reset</button>
				<button type="submit" mat-raised-button color="primary" [disabled]="!newPassForm.valid">Save</button>
			</div>
		</form>
	</mat-tab>
</mat-tab-group>
